<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <label for="n1">N1</label><input type="number" id="n1" />
    <label for="n2">N2</label><input type="number" id="n2" />
    <button id="sumBtn">+</button>
    <button id="subBtn">-</button>
    <button id="multBtn">*</button>
    <button id="divBtn">/</button>
    = <span id="result"></span>
    <hr>
    <footer>
        <span id="version"></span>
    </footer>
</body>
</html>